*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

    body {
      --canvas-size: 1550px;
      --block-size: calc(var(--canvas-size) / 3);
      background: linear-gradient(to right, #00008B, #0071C1, #1E90FF, #0071C1, #00008B);
      background-size: var(--canvas-size);
      display: flex;
    }

.menu {
    display: flex;
    margin: 40px 0px 0px 100px;
}

.link1 {
        margin: 0px 0px 0px 15px;
        font-family: Georgia, serif;
        font-size: 80%;
        color: white;
}

.link2 {
        margin: 0px 0px 0px 15px;
        font-family: Georgia, serif;
        font-size: 80%;
        color: white;
}

.link3 {
        margin: 0px 0px 0px 15px;
        font-family: Georgia, serif;
        font-size: 80%;
        color: white;
}

.link4 {
        margin: 0px 0px 0px 15px;
        font-family: Georgia, serif;
        color: white;
        font-size: 80%;
}



.go2{
    position: relative;
    margin: -40px 0px 0px calc(var(--canvas-size) / 3);
    width: 500px;

}

.text1{
    display: run-in;
    font-family: Georgia, serif;
    font-size: 6em;
    color:#382c8f;
    text-shadow: 4px 1px white;
    margin: 0px 0px 0px calc(var(--canvas-size) / 20);
    white-space: nowrap;
    word-spacing: 4px;
}

.text2{
    font-family: Georgia, serif;
    font-size: 10em;
    color:#382c8f;
    text-shadow: 4px 1px white;
    margin: 35px 0px 0px calc(var(--canvas-size) / 6);
}

.link5 {
        animation-name: button; 
        border: solid 7px;
        background-color: #0071C1;
        color: #E6E6FA ;
        border-radius: 20px; 
        position: relative;
        margin: 0px 30px 30px 42%;
        font-family: Georgia, serif;
        font-size: 250%;
        padding: 10px 10px 10px 10px;
        box-shadow: 4px 4px #778899;
        line-height: 5;

        animation-name: button;
    animation-delay:0.5s;
    animation-timing-function:linear;
    animation-duration: 1.9s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(1, 1);
}

@keyframes button {
    100%{opacity: 1;}
}

.text3 {
        font-family: Georgia, serif;
        font-size: 90%;
        color: #E6E6FA ;
        margin: 150px 30px 30px 53%;
        line-height: 2;
}

.team {

        font-family: Georgia, serif;
        font-size: 4em;
        color: #E6E6FA;
        margin: 40px 30px 30px calc(var(--canvas-size) / 3.5);
        white-space: nowrap;
}

.team4 {
        font-family: Georgia, serif;
        font-size: 4em;
        color: #E6E6FA;
        margin: 40px 30px 30px calc(var(--canvas-size) / 2.7);
        white-space: nowrap;
}

.team5{
    display: run-in;
    font-family: Georgia, serif;
    font-size: 4em;
    color:white;
    text-shadow: 1px 1px white;
    margin: 0px 0px 0px calc(var(--canvas-size) / 3);
    white-space: nowrap;
    word-spacing: 4px;
}


.menu2, .menu3, .lawyer1-img, .lawyer2-img, .lawyer3-img, .service1_img, .service2_img, .service3_img {
        position: relative;
        margin: 40px 0px 0px calc(var(--canvas-size) / 12);
        border-radius: 200px;
        white-space: nowrap;
}

.lawyer1, .lawyer3, .lawyer2, .service1, .service2, .service3 {
        display: inline-block;
        font-family: Georgia, serif;
        font-size: 160%;
        color: #E6E6FA ;
        position: relative;
        text-align: center;
        white-space: nowrap;
}



.lawyer1 {
        margin: 30px 0px 0px calc(var(--canvas-size) / 6);
    }

.lawyer2 {
        margin: 30px 0px 0px calc(var(--canvas-size) / 9);
    }

.lawyer3 {
        margin: 30px 0px 0px calc(var(--canvas-size) / 12);
    }

.service1
{
        margin: 30px 0px 0px calc(var(--canvas-size) / 20);
        list-style-type: disc;
        line-height: 1;
        text-align: left;
        padding: auto;
    }

.service2
{
        margin: 30px 0px 0px calc(var(--canvas-size) / 16);
        list-style-type: disc;
        line-height: 1;
        text-align: left;
        vertical-align: top;
    }

.service3
{
        margin: 30px 0px 0px calc(var(--canvas-size) / 28);
        list-style-type: disc;
        line-height: 1;
        text-align: left;
        vertical-align: top;
    }

.map 
{
    width:800;
    height:350;
    border:0;
    margin: 30px 0px 0px calc(var(--canvas-size) / 4.5);
}

.menu4 {
        display:flex;
        font-family: Georgia, serif;
        font-size: 130%;
        color: #E6E6FA ;
        position: relative;
        vertical-align: top;
        line-height: 1.5;
}

.contact1, .contact2, .contact3  {
        margin: 30px -270px 0px calc(var(--canvas-size) / 4.5);
        text-align: left;
    }



